$cc-mainBg: hsl(186, 42%, 44%);
$cc-blueDarkest: hsl(193, 99%, 29%);
$cc-blue: hsl(190, 88%, 35%);

$cc-yelowBg: hsl(43, 58%, 70%);
$cc-yelow: hsl(43, 100%, 41%);
$cc-orange: hsl(30, 99%, 43%);

$cc-green: hsl(173, 47%, 40%);
$cc-greenDarkest: hsl(168, 65%, 27%);

$cc-wite: hsl(330, 3%, 88%);
$cc-black: hsl(0, 0%, 0%);
