{block bodyClass}sp txt{/block}

{block content}
<article class="about">
    <div class="container-fluid">
        <div class="narrow">
            <h1>{='MESSAGE_SENT'|text|noescape}</h1>
        </div>
    </div>
</article>