{block bodyClass}sp txt{/block}

{block content}
<article>
    <div class="container-fluid">
        <div class="narrow">
            <h1>{='PRIVACY'|text|lower|noescape}</h1>

            {='PRIVACY_TEXT'|text|noescape}
        </div>
    </div>
</article>