$c-orange: hsl(31, 100%, 47%);
$c-blue: hsl(200, 100%, 41%);
$c-blue-a: hsla(200, 100%, 41%, 5%);
$c-white: hsl(0, 0%, 100%);
$c-black: hsl(0, 0%, 0%);
$c-black-a: hsla(0, 0%, 0%, 5%);
$c-gray: #e3e3e3;
