// ##### RUN - TEXT
@keyframes run-txt {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.txt_marquee {
    white-space: nowrap;
    animation: run-txt 30s linear infinite;

    &:hover {
        animation-play-state: paused;
        cursor: wait;
    }

    // @for $i from 0 through 2 {
    //     &_item:nth-child(n + #{$i}) {
    //         animation-delay: $i * 5s;
    //     }
    // }
}

@keyframes rotate-txt {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.eclipse_text_overlay {
    animation: rotate-txt 90s linear infinite;
}
