@font-face {
    font-family: "GolosText";
    src: url(../fonts/Golos-Text/GolosText-Black.ttf) format("truetype"); //900
    src: url(../fonts/Golos-Text/GolosText-Bold.ttf) format("truetype"); //700
    src: url(../fonts/Golos-Text/GolosText-ExtraBold.ttf) format("truetype"); //800
    src: url(../fonts/Golos-Text/GolosText-Medium.ttf) format("truetype"); //500
    src: url(../fonts/Golos-Text/GolosText-Regular.ttf) format("truetype"); //400
    src: url(../fonts/Golos-Text/GolosText-SemiBold.ttf) format("truetype"); //600
    src: url(../fonts/Golos-Text/GolosText-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Black.ttf) format("truetype"); //900
    src: url(../fonts/Merriweather/Merriweather-BlackItalic.ttf) format("truetype"); //900
    src: url(../fonts/Merriweather/Merriweather-Bold.ttf) format("truetype"); //700
    src: url(../fonts/Merriweather/Merriweather-BoldItalic.ttf) format("truetype"); //700
    src: url(../fonts/Merriweather/Merriweather-Italic.ttf) format("truetype"); //400
    src: url(../fonts/Merriweather/Merriweather-Light.ttf) format("truetype"); //300
    src: url(../fonts/Merriweather/Merriweather-LightItalic.ttf) format("truetype"); //300
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf) format("truetype"); //400
}

$ff-GT: "GolosText";
$ff-MW: "Merriweather";

@mixin fontStyle(
    $ff: $ff-GT,
    $fsz: inherit,
    $fw: 400,
    $fst: normal,
    $ls: normal,
    $lh: normal,
    $color: black
) {
    font-family: $ff;
    font-size: $fsz;
    font-weight: $fw;
    font-style: $fst;
    letter-spacing: $ls;
    line-height: $lh;
    color: $color;
}



