$c-main-white: #ffffff;
$c-main-black: #313131;
$c-text-dsc: #3057a2;
$c-text-em: #f54932;
$c-logo: #595653;
$c-tbl-brdr: #d0d0d0;
$c-btn: #1f1f1f;
$c-eclipse: #fbce51;
$c-bg-header: #e9ded4;

.txt_logo {
	@include fontStyle($ff: $ff-GT, $fsz: 16.65px, $fw: 700, $lh: 108%);
	text-transform: uppercase;
}

.txt_header_h {
	@include fontStyle($fsz: 36px, $lh: 110%);
	text-transform: uppercase;

	@media (min-width: 1366px) {
		font-size: 60px;
	}
}

.txt_header_dsc {
	@include fontStyle($ff: $ff-GT, $fsz: 18px, $lh: 130%);
	text-align: left;

	@media (min-width: 1366px) {
		text-align: center;
	}
}

.txt-header_btn {
	@include fontStyle($ff: $ff-GT, $fsz: 16px, $fw: 500, $lh: 130%);
	text-align: center;
}

.txt_marquee {
	@include fontStyle($fsz: 16px, $lh: 110%, $color: $c-main-white);
	text-transform: uppercase;

	@media (min-width: 1366px) {
		font-size: 22px;
	}
}

.txt_main_section {
	@include fontStyle($fsz: 28px, $lh: 135%);
	text-transform: uppercase;

	@media (min-width: 1366px) {
		font-size: 36px;
	}

	mark {
		font-weight: 700;
		color: $c-text-em;
		background-color: inherit;
		// font-weight: inherit;
	}
}

.txt_tbl {
	@include fontStyle($ff: $ff-GT, $fsz: 20px, $lh: 120%);

	& .section {
		opacity: 0.7;
	}

	& .description {
		font-weight: 600;
	}

	& del {
		text-decoration-color: $c-text-em;
		text-decoration-style: solid;
	}

	& .note {
		color: $c-text-dsc;
		font-size: 18px;

		@media (min-width: 1366px) {
			font-size: 20px;
		}
	}
}

.txt_main_h {
	@include fontStyle($fsz: 36px, $lh: 120%);

	@media (min-width: 1366px) {
		font-size: 54px;
	}
}

.txt_main_dsc {
	@include fontStyle($ff: $ff-GT, $fsz: 18px, $lh: 120%, $color: $c-text-dsc);

	@media (min-width: 1366px) {
		font-size: 20px;
	}
}

.txt_main_grid {
	@include fontStyle($ff: $ff-GT, $fsz: 18px, $fw: 500, $lh: 120%);

	@media (min-width: 1366px) {
		font-size: 20px;
	}

	&-number {
		font-weight: 600;
	}
}

.txt_player {
	@include fontStyle($ff: $ff-GT, $lh: 120%);

	&_pag {
		font-size: 16px;

		&-from {
			opacity: 0.6;
		}
	}

	&_name {
		font-size: 24px;
		font-weight: 600;
	}

	&_description {
		font-size: 20px;
	}

	&_btn {
		font-size: 16px;
		font-weight: 500;
		color: $c-text-dsc;
	}
}

.txt_footer {
	@include fontStyle($ff: $ff-GT, $fsz: 16, $lh: 120%);
	opacity: 0.6;
}
