@import "_Fonts", "_Theme", "_Animation";

// ##### HEADER #####
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;

	&_header {
		height: 812px-38px;
		position: relative;
		// background: url(../img/header/bg-color-burn.png) center $c-bg-header;
		// background-blend-mode: color-burn;
		background-color: $c-bg-header;

		@media (min-width: 1366px) {
			height: 700px;
		}
	}

	&_main {
		padding-top: 48px;
	}
}

.content {
	// min-width: 335px;
	width: 100%;
	margin: 0 auto;

	&_header {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		gap: 0;
		height: 100%;
	}

	@media (min-width: 1366px) {
		width: 1222px;
		grid-template-columns: repeat(2, 1fr);
	}

	&_header_item {
		width: 100%;

		&:first-child {
			padding-top: 18px;
			position: relative;
			z-index: 1;

			@media (min-width: 1366px) {
				padding-top: 26px;
			}
		}

		&:last-child {
			position: relative;
			// z-index: 0;
		}
	}
}

// ####################################################
// ### content_header_item :: first-child
.header_brand {
	display: flex;
	flex-direction: row;
	gap: 6px;

	// &_brand_logo {
	// }

	// &_brand_name {
	// }
}

.header_title {
	margin-top: 40px;

	@media (min-width: 1366px) {
		margin-top: 62px;
	}

	.txt_header_h > span {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
}

.header_description {
	margin-top: 24px;
	padding: 0;

	@media (min-width: 1366px) {
		padding: 0 20px 0;
	}
}

.header_btns {
	margin-top: 32px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 14px;

	@media (min-width: 1366px) {
		margin-top: 40px;
		max-width: 542px;
		flex-direction: row;
		gap: 16px;
	}

	.btn_item {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		padding: 10px;
		gap: 0.5em;

		border: 2px solid $c-btn;
		border-radius: 66px;
		box-sizing: border-box;

		transition: 0.3s;

		@media (min-width: 1366px) {
			flex-direction: column;
			padding: 15px;
			gap: 0;
		}

		&:first-child {
			background-color: $c-btn;
			.txt-header_btn {
				color: $c-main-white;
			}

			&:hover {
				border-color: $c-eclipse;
				background-color: $c-eclipse;
				.txt-header_btn {
					color: $c-btn;
				}
			}
		}

		&:last-child {
			background-color: $c-main-white;
			border-color: $c-main-white;
			color: inherit;

			&:hover {
				background-color: $c-btn;
				border-color: inherit;

				.txt-header_btn {
					color: $c-main-white;
				}
			}

			@media (min-width: 1366px) {
				background-color: inherit;
				border-color: inherit;
				color: inherit;
			}
		}
	}
}

// ### content_header_item :: last-child
.fig_eclipse {
	display: flex;
	width: 100%;
	position: relative;
	aspect-ratio: 1;
	top: -75px;
	// right: -40px;
	border-radius: 50%;
	background-color: $c-eclipse;
	justify-content: center;
	align-items: center;
	// padding: 0.5em;

	@media (min-width: 1366px) {
		width: 660px;
		top: -44px;
		right: -40px;
	}

	.eclipse_text_overlay {
		display: flex;
		width: 98%;
		height: 98%;
		object-fit: contain;
		mix-blend-mode: overlay;
	}
}

// ### chess
.fig_chess {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.chess_behind {
	img {
		position: relative;

		&:first-child {
			width: 50px;
			top: 60px;
			left: 50px;
			transform: rotate(-6deg);

			@media (min-width: 768px) {
				width: 105px;
				top: 280px;
				left: 105px;
			}
		}

		&:last-child {
			width: 50px;
			top: 5px;
			left: 155px;
			transform: rotate(8deg);

			@media (min-width: 768px) {
				width: 115px;
				top: 165px;
				left: 325px;
			}
		}
	}
}

.chess_front {
	// overflow: hidden;
	// pointer-events: none;

	img {
		position: absolute;
		z-index: 1;

		&:first-child {
			width: 76px;
			top: 180px;
			left: 120px;
			transform: rotate(-10.5deg);

			@media (min-width: 768px) {
				width: 156px;
				top: 495px;
				left: 220px;
			}
		}

		&:last-child {
			display: none;

			@media (min-width: 768px) {
				display: inherit;
				top: 560px;
				right: -25px;
			}
		}
	}
}

// ### HEADER - Wraper
.header_wraper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	// background: url(../img/header/bg-img-city.png) center bottom no-repeat;
	background: url(../img/header/bg-img-city.png) bottom no-repeat;
	background-position-x: 80%;
	background-size: 230%;
	pointer-events: none;

	@media (min-width: 1024px) {
		background-position-x: center;
		background-size: inherit;
	}

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: url(../img/header/bg-color-burn.png) center;
		mix-blend-mode: color-burn;
	}
}

// ##### Run-text #####
.run-text {
	width: 100%;
	height: 38px;
	display: block;

	background-color: $c-text-em;
	align-content: center;
	overflow: hidden;

	.txt_marquee {
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 36px;

		&_item {
			list-style: disc;

			&:first-child {
				list-style: none;
			}
		}
	}

	@media (min-width: 1366px) {
		height: 60px;
	}
}

// ####################################################
// ##### MAIN #####
.content_main {
	display: grid;
	grid-auto-flow: row;
	row-gap: 24px;
	column-gap: 20px;

	@media (min-width: 1024px) {
		grid-template-columns: repeat(12, 1fr);
		row-gap: 0;

		.grid_item {
			&:nth-child(1) {
				grid-column: span 8;
				align-self: end;
			}

			&:nth-child(2) {
				grid-column: span 4;
				grid-row: span 2;
			}

			&:nth-child(3) {
				grid-column: span 8;
				align-self: start;
			}

			&:nth-child(4) {
				grid-column: span 5;
				grid-row: span 2;
				margin-top: 64px;
			}

			&:nth-child(5) {
				grid-column: span 7;
				margin-top: 116px;
			}

			&:nth-child(6) {
				grid-column: span 7;
			}
		}
	}

	img.grid_item {
		width: 100%;
		object-fit: contain;

		@media (min-width: 1024px) {
			width: max-content;
		}
	}

	.txt_tbl {
		& .section {
			padding: 16px 0 6px;
		}

		& .description {
			padding: 6px 0 16px;
		}

		@media (min-width: 1024px) {
			.section {
				padding: 16px 0;
				flex: 1;
			}

			.description {
				padding: 16px;
				flex: 1;
				border-left: 2px solid $c-tbl-brdr;
			}
		}

		// .section, .description {
		// 	padding: 6px 0;
		// }

		& .note {
			margin-top: 24px;
		}

		tr {
			display: flex;
			flex-direction: column;
			border-bottom: 2px solid $c-tbl-brdr;

			&:last-child,
			&:nth-last-child(2) {
				border: 0;
			}

			@media (min-width: 1024px) {
				flex-direction: row;
				// justify-content: space-between;
			}
		}
	}
}

// ### STAGES ###
.content_stage {
	padding-top: 120px;

	@media (min-width: 1366px) {
		padding-top: 200px;
	}

	.stage_title {
		position: relative;

		@media (min-width:768px) {
			width: 66.66%;
		}

		.txt_main_dsc {
			padding: 12px 0 0;

			@media (min-width: 1366px) {
				padding: 0;
				width: 33.33%;
				position: absolute;
				bottom: 10px;
				left: 37%;
			}
		}
	}

	.stage_stages {
		padding: 148px 0 0;
		position: relative;
		// overflow: hidden;

		@media (min-width: 1366px) {
			padding: 54px 0 0;
		}

		// ### plane ###
		&::after {
			content: url(../img/main/img-plane.svg);
			display: block;
			position: absolute;
			top: -5%;
			right: -10%;

			@media (min-width: 768px) {
				width: max-content;
				top: auto;
				bottom: -5%;
				right: -7%;
			}
		}

		.stages_wraper {
			counter-reset: stages;
			display: grid;
			
			grid-auto-flow: column;
			grid-auto-columns: 100%;
			grid-template-rows: repeat(2, 150px);
			column-gap: 20px;

			// transform: translateX(0);
			transition: 0.35s all;

			@media (min-width: 768px) {
				grid-auto-flow: row;
				grid-template-rows: auto;
				grid-template-columns: repeat(12, 1fr);
				gap: 20px;
			}
		}

		.stage_item {
			display: flex;
			gap: 16px;
			counter-increment: stages;
			padding: 20px;

			background: url(../img/header/bg-color-burn.png) center $c-bg-header;
			background-blend-mode: color-burn;

			&::before {
				content: counter(stages);
				display: flex;
				min-width: 36px;
				height: 36px;
				// aspect-ratio: 1/1;
				border-radius: 50%;
				overflow: hidden;
				background-color: $c-main-white;
				font-weight: 600;
				align-items: center;
				justify-content: center;
			}

			&:nth-child(3),
			&:nth-child(6),
			&:nth-child(7) {
				grid-row: span 2;
			}

			&:not(:nth-child(2)):not(:nth-child(5)) {
				padding: 64px 20px 20px;
			}

			// &:nth-child(n+2) {
			// 	display: none;
			// }

			@media (min-width: 768px) {
				padding: 20px !important;
				grid-column: span 4;
				grid-row: span 1;

				&:nth-child(3) {
					grid-row: span 2;
				}

				&:nth-child(6) {
					grid-row: span 1;
				}

				&:nth-child(7) {
					grid-column: span 8;
					grid-row: span 1;

					span {
						width: 55%;
					}
				}
			}
		}
	}
}

// ### section navigation
.slider_btns {
	margin-top: 28px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 16px;

	@media (min-width:768px) {
		display: none;
	}
}

.slider_btn {
	display: flex;
	width: 36px;
	height: 36px;
	// aspect-ratio: 1/1;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
	background: rgba($c-main-black, 0.2);
	color: $c-main-white;

	&:hover {
		background: $c-main-black;
	}
}

.pugination_btn {
	display: flex;
	width: auto;
	flex-direction: row;
	align-items: center;	
	gap: 6px;
}

.pug_btn_item {
	@extend .slider_btn;
	width: 16px;
	height: 16px;

	background: rgba($c-main-black, 0.2);

	&:hover {
		background: $c-main-black;
	}

}

.btn_active {
	background: $c-main-black;
}

// ####################################################
// ### FOOTER ###
.footer_content {
	width: 100%;
	padding: 40px 20px;
	background-color: $c-bg-header;
}
