@font-face {
  font-family: "GolosText";
  src: url(../fonts/Golos-Text/GolosText-Black.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-Bold.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-ExtraBold.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-Medium.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-Regular.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-SemiBold.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Black.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-BlackItalic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Bold.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-BoldItalic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Italic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Light.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-LightItalic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Regular.ttf) format("truetype");
}
.txt_logo {
  font-family: "GolosText";
  font-size: 16.65px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 108%;
  color: #313131;
  text-transform: uppercase;
}

.txt_header_h {
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 110%;
  color: #313131;
  text-transform: uppercase;
}
@media (min-width: 1366px) {
  .txt_header_h {
    font-size: 60px;
  }
}

.txt_header_dsc {
  font-family: "GolosText";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 130%;
  color: #313131;
  text-align: left;
}
@media (min-width: 1366px) {
  .txt_header_dsc {
    text-align: center;
  }
}

.txt-header_btn {
  font-family: "GolosText";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 130%;
  color: #313131;
  text-align: center;
}

.txt_marquee {
  font-family: "Merriweather";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 110%;
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 1366px) {
  .txt_marquee {
    font-size: 22px;
  }
}

.txt_main_section {
  font-family: "Merriweather";
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 135%;
  color: #313131;
  text-transform: uppercase;
}
@media (min-width: 1366px) {
  .txt_main_section {
    font-size: 36px;
  }
}
.txt_main_section mark {
  font-weight: 700;
  color: #f54932;
  background-color: inherit;
}

.txt_tbl {
  font-family: "GolosText";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
}
.txt_tbl .section {
  opacity: 0.7;
}
.txt_tbl .description {
  font-weight: 600;
}
.txt_tbl del {
  text-decoration-color: #f54932;
  text-decoration-style: solid;
}
.txt_tbl .note {
  color: #3057a2;
  font-size: 18px;
}
@media (min-width: 1366px) {
  .txt_tbl .note {
    font-size: 20px;
  }
}

.txt_main_h {
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
  text-transform: uppercase;
}
@media (min-width: 1366px) {
  .txt_main_h {
    font-size: 54px;
  }
}

.txt_main_dsc {
  font-family: "GolosText";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #3057a2;
}
@media (min-width: 1366px) {
  .txt_main_dsc {
    font-size: 20px;
  }
}

.txt_main_grid {
  font-family: "GolosText";
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
}
@media (min-width: 1366px) {
  .txt_main_grid {
    font-size: 20px;
  }
}
.txt_main_grid-number {
  font-weight: 600;
}

.txt_player {
  font-family: "GolosText";
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
}
.txt_player_pag {
  font-size: 16px;
}
.txt_player_pag-from {
  opacity: 0.6;
}
.txt_player_name {
  font-size: 24px;
  font-weight: 600;
}
.txt_player_description {
  font-size: 20px;
}
.txt_player_btn {
  font-size: 16px;
  font-weight: 500;
  color: #3057a2;
}

.txt_footer {
  font-family: "GolosText";
  font-size: 16;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
  opacity: 0.6;
}

@keyframes run-txt {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-452%);
    @media (min-width: 1366px) {
      transform: translateX(-200%);
    }
  }
}
.txt_marquee {
  white-space: nowrap;
  animation: run-txt 25s linear infinite;
}
@media (min-width: 768px) {
  .txt_marquee {
    animation-duration: 45s;
  }
}
.txt_marquee:hover {
  animation-play-state: paused;
  cursor: wait;
}

@keyframes rotate-txt {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.eclipse_text_overlay {
  animation: rotate-txt 90s linear infinite;
}

@keyframes go-king {
  0% {
    transform: translateY(50%) scale(0%) rotate(0deg);
  }
  75% {
    transform: translateY(10%) scale(115%) rotate(-4deg);
  }
  100% {
    transform: translateY(0%) scale(100%) rotate(-6deg);
  }
}
#king {
  animation: go-king 2s ease-in-out;
}

@keyframes go-queen {
  0% {
    transform: translateY(50%) scale(0%) rotate(0deg);
  }
  75% {
    transform: translateY(10%) scale(115%) rotate(6deg);
  }
  100% {
    transform: translateY(0%) scale(100%) rotate(8deg);
  }
}
#queen {
  animation: go-queen 3s ease-in-out;
}

@keyframes go-horse {
  0% {
    transform: translateY(5%) translateX(110%) scale(0%) rotate(0deg);
    opacity: 0;
  }
  0.5% {
    transform: translateY(5%) translateX(110%) scale(0%) rotate(0deg);
    opacity: 1;
  }
  70% {
    transform: translateY(-100%) translateX(0%) scale(115%) rotate(-3deg);
  }
  100% {
    transform: translateY(0%) translateX(0%) scale(100%) rotate(-10.5deg);
    opacity: 1;
  }
}
#horse {
  opacity: 0;
  animation: go-horse 3s 1s ease-in-out forwards;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
.container_header {
  height: 774px;
  position: relative;
  background-color: #e9ded4;
}
@media (min-width: 1366px) {
  .container_header {
    height: 700px;
  }
}
.container_main {
  padding-top: 48px;
}

.content {
  width: 100%;
  margin: 0 auto;
}
.content_header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  height: 100%;
}
@media (min-width: 1366px) {
  .content {
    width: 1222px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.content_header_item {
  width: 100%;
}
.content_header_item:first-child {
  padding-top: 18px;
  position: relative;
  z-index: 1;
}
@media (min-width: 1366px) {
  .content_header_item:first-child {
    padding-top: 26px;
  }
}
.content_header_item:last-child {
  position: relative;
}

.header_brand {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.header_title {
  margin-top: 40px;
}
@media (min-width: 1366px) {
  .header_title {
    margin-top: 62px;
  }
}
.header_title .txt_header_h > span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.header_description {
  margin-top: 24px;
  padding: 0;
}
@media (min-width: 1366px) {
  .header_description {
    padding: 0 20px 0;
  }
}

.header_btns {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media (min-width: 1366px) {
  .header_btns {
    margin-top: 40px;
    max-width: 542px;
    flex-direction: row;
    gap: 16px;
  }
}
.header_btns .btn_item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 0.5em;
  border: 2px solid #1f1f1f;
  border-radius: 66px;
  box-sizing: border-box;
  transition: 0.3s;
}
@media (min-width: 1366px) {
  .header_btns .btn_item {
    flex-direction: column;
    padding: 15px;
    gap: 0;
  }
}
.header_btns .btn_item:first-child {
  background-color: #1f1f1f;
}
.header_btns .btn_item:first-child .txt-header_btn {
  color: #ffffff;
}
.header_btns .btn_item:first-child:hover {
  border-color: #fbce51;
  background-color: #fbce51;
}
.header_btns .btn_item:first-child:hover .txt-header_btn {
  color: #1f1f1f;
}
.header_btns .btn_item:last-child {
  background-color: #ffffff;
  border-color: #ffffff;
  color: inherit;
}
.header_btns .btn_item:last-child:hover {
  background-color: #1f1f1f;
  border-color: inherit;
}
.header_btns .btn_item:last-child:hover .txt-header_btn {
  color: #ffffff;
}
@media (min-width: 1366px) {
  .header_btns .btn_item:last-child {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
  }
}

.fig_eclipse {
  display: flex;
  width: 100%;
  position: relative;
  aspect-ratio: 1;
  top: -75px;
  border-radius: 50%;
  background-color: #fbce51;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1366px) {
  .fig_eclipse {
    width: 660px;
    top: -44px;
    right: -40px;
  }
}
.fig_eclipse .eclipse_text_overlay {
  display: flex;
  width: 98%;
  height: 98%;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: overlay;
}

.fig_chess {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chess_behind img {
  position: relative;
}
.chess_behind img:first-child {
  width: 50px;
  top: 60px;
  left: 50px;
  transform: rotate(-6deg);
}
@media (min-width: 768px) {
  .chess_behind img:first-child {
    width: 105px;
    top: 280px;
    left: 105px;
  }
}
.chess_behind img:last-child {
  width: 50px;
  top: 5px;
  left: 155px;
  transform: rotate(8deg);
}
@media (min-width: 768px) {
  .chess_behind img:last-child {
    width: 115px;
    top: 165px;
    left: 325px;
  }
}

.chess_front img {
  position: absolute;
  z-index: 1;
}
.chess_front img:first-child {
  width: 76px;
  top: 180px;
  left: 120px;
  transform: rotate(-10.5deg);
}
@media (min-width: 768px) {
  .chess_front img:first-child {
    width: 156px;
    top: 495px;
    left: 220px;
  }
}
.chess_front img:last-child {
  display: none;
}
@media (min-width: 768px) {
  .chess_front img:last-child {
    display: inherit;
    top: 560px;
    right: -25px;
  }
}

.header_wraper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/header/bg-img-city.png) bottom no-repeat;
  background-position-x: 80%;
  background-size: 230%;
  pointer-events: none;
}
@media (min-width: 1024px) {
  .header_wraper {
    background-position-x: center;
    background-size: inherit;
  }
}
.header_wraper::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/header/bg-color-burn.png) center;
  mix-blend-mode: color-burn;
}

.run-text {
  width: 100%;
  height: 38px;
  display: block;
  background-color: #f54932;
  align-content: center;
  overflow: hidden;
}
.run-text .txt_marquee {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 36px;
}
.run-text .txt_marquee_item {
  list-style: disc;
}
.run-text .txt_marquee_item:first-child {
  list-style: none;
}
@media (min-width: 1366px) {
  .run-text {
    height: 60px;
  }
}

.content_main {
  display: grid;
  grid-auto-flow: row;
  row-gap: 24px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 1024px) {
  .content_main {
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0;
  }
  .content_main .grid_item:nth-child(1) {
    grid-column: span 8;
    align-self: end;
  }
  .content_main .grid_item:nth-child(2) {
    grid-column: span 4;
    grid-row: span 2;
  }
  .content_main .grid_item:nth-child(3) {
    grid-column: span 8;
    align-self: start;
  }
  .content_main .grid_item:nth-child(4) {
    grid-column: span 5;
    grid-row: span 2;
    margin-top: 64px;
  }
  .content_main .grid_item:nth-child(5) {
    grid-column: span 7;
    margin-top: 116px;
  }
  .content_main .grid_item:nth-child(6) {
    grid-column: span 7;
  }
}
.content_main img.grid_item {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1024px) {
  .content_main img.grid_item {
    width: -moz-max-content;
    width: max-content;
  }
}
.content_main .txt_tbl .section {
  padding: 16px 0 6px;
}
.content_main .txt_tbl .description {
  padding: 6px 0 16px;
}
@media (min-width: 1024px) {
  .content_main .txt_tbl .section {
    padding: 16px 0;
    flex: 1;
  }
  .content_main .txt_tbl .description {
    padding: 16px;
    flex: 1;
    border-left: 2px solid #d0d0d0;
  }
}
.content_main .txt_tbl .note {
  margin-top: 24px;
}
.content_main .txt_tbl tr {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #d0d0d0;
}
.content_main .txt_tbl tr:last-child, .content_main .txt_tbl tr:nth-last-child(2) {
  border: 0;
}
@media (min-width: 1024px) {
  .content_main .txt_tbl tr {
    flex-direction: row;
  }
}

.content_stage {
  padding-top: 120px;
}
@media (min-width: 1366px) {
  .content_stage {
    padding-top: 200px;
  }
}
.content_stage .stage_title {
  position: relative;
}
@media (min-width: 768px) {
  .content_stage .stage_title {
    width: 66.66%;
  }
}
.content_stage .stage_title .txt_main_dsc {
  padding: 12px 0 0;
}
@media (min-width: 1366px) {
  .content_stage .stage_title .txt_main_dsc {
    padding: 0;
    width: 33.33%;
    position: absolute;
    bottom: 10px;
    left: 37%;
  }
}
.content_stage .stage_stages {
  padding: 148px 0 0;
  position: relative;
}
@media (min-width: 1366px) {
  .content_stage .stage_stages {
    padding: 54px 0 0;
  }
}
.content_stage .stage_stages::after {
  content: url(../img/main/img-plane.svg);
  display: block;
  position: absolute;
  top: -5%;
  right: -10%;
}
@media (min-width: 768px) {
  .content_stage .stage_stages::after {
    width: -moz-max-content;
    width: max-content;
    top: auto;
    bottom: 15%;
    right: -7%;
  }
}
@media (min-width: 1024px) {
  .content_stage .stage_stages::after {
    width: -moz-max-content;
    width: max-content;
    top: auto;
    bottom: -5%;
    right: -7%;
  }
}
.content_stage .stage_stages .stages_wraper {
  counter-reset: stages;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  grid-template-rows: repeat(2, 150px);
  -moz-column-gap: 20px;
       column-gap: 20px;
  transition: 0.35s all;
}
@media (min-width: 768px) {
  .content_stage .stage_stages .stages_wraper {
    grid-auto-flow: row;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
}
.content_stage .stage_stages .stage_item {
  display: flex;
  gap: 16px;
  counter-increment: stages;
  padding: 20px;
  background: url(../img/header/bg-color-burn.png) center #e9ded4;
  background-blend-mode: color-burn;
}
.content_stage .stage_stages .stage_item::before {
  content: counter(stages);
  display: flex;
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffffff;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.content_stage .stage_stages .stage_item:nth-child(3), .content_stage .stage_stages .stage_item:nth-child(6), .content_stage .stage_stages .stage_item:nth-child(7) {
  grid-row: span 2;
}
.content_stage .stage_stages .stage_item:not(:nth-child(2)):not(:nth-child(5)) {
  padding: 64px 20px 20px;
}
@media (min-width: 768px) {
  .content_stage .stage_stages .stage_item {
    padding: 20px !important;
    grid-column: span 4;
    grid-row: span 1;
  }
  .content_stage .stage_stages .stage_item:nth-child(3) {
    grid-row: span 2;
  }
  .content_stage .stage_stages .stage_item:nth-child(6) {
    grid-row: span 1;
  }
  .content_stage .stage_stages .stage_item:nth-child(7) {
    grid-column: span 8;
    grid-row: span 1;
  }
  .content_stage .stage_stages .stage_item:nth-child(7) span {
    width: 55%;
  }
}

.slider_btns {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 16px;
}
@media (min-width: 768px) {
  .slider_btns {
    display: none;
  }
}

.slider_btn, .pug_btn_item {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(49, 49, 49, 0.2);
  color: #ffffff;
}
.slider_btn:hover, .pug_btn_item:hover {
  background: #313131;
}

.pugination_btn {
  display: flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.pug_btn_item {
  width: 16px;
  height: 16px;
  background: rgba(49, 49, 49, 0.2);
}
.pug_btn_item:hover {
  background: #313131;
}

.btn_active {
  background: #313131;
}

.content_players {
  padding-top: 120px;
  position: relative;
}
@media (min-width: 1366px) {
  .content_players {
    padding-top: 200px;
  }
}
.content_players_cards {
  margin-top: 40px;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .content_players_cards {
    margin-top: 60px;
  }
}

.players_cards_wraper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 768px) {
  .players_cards_wraper {
    grid-auto-columns: 50%;
  }
}
@media (min-width: 1240px) {
  .players_cards_wraper {
    grid-auto-columns: 33.33%;
  }
}

.player_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.player_card .card_img {
  width: 244px;
  height: 244px;
}
@media (min-width: 1240px) {
  .player_card .card_img {
    width: 320px;
    height: 320px;
  }
}
.player_card .card_img img {
  width: 100%;
}
.player_card .card_name {
  padding-top: 28px;
}
.player_card .card_dsc {
  padding: 8px 0 20px;
}
.player_card .card_btn {
  padding: 12px;
  border: 1px solid #3057a2;
  border-radius: 62px;
}
.player_card .card_btn:hover {
  background-color: rgba(48, 87, 162, 0.2);
}

.player_btns {
  display: flex;
  margin-top: 40px;
}
@media (min-width: 1240px) {
  .player_btns {
    position: absolute;
    margin-top: 0;
    top: 120px;
    right: 0;
  }
}
@media (min-width: 1366px) {
  .player_btns {
    top: 220px;
    right: 0;
  }
}
.player_btns .slider_btn, .player_btns .pug_btn_item {
  background: #313131;
  color: #ffffff;
}
.player_btns .slider_btn:hover, .player_btns .pug_btn_item:hover {
  background: rgba(49, 49, 49, 0.2);
}

.footer {
  padding-top: 100px;
}
@media (min-width: 1366px) {
  .footer {
    padding-top: 140px;
  }
}

.footer_content {
  width: 100%;
  padding: 40px 20px;
  background-color: #e9ded4;
}/*# sourceMappingURL=main.css.map */