@font-face {
  font-family: "GolosText";
  src: url(../fonts/Golos-Text/GolosText-Black.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-Bold.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-ExtraBold.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-Medium.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-Regular.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-SemiBold.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Black.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-BlackItalic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Bold.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-BoldItalic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Italic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Light.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-LightItalic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Regular.ttf) format("truetype");
}
.txt_logo {
  font-family: "GolosText";
  font-size: 16.65px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 108%;
  color: #313131;
}

.txt_header_h {
  font-family: "Merriweather";
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 110%;
  color: #313131;
}

.txt_header_dsc {
  font-family: "GolosText";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 130%;
  color: #313131;
}

.txt-header_btn {
  font-family: "GolosText";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 130%;
  color: #313131;
}

.txt_marquee {
  font-family: "Merriweather";
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 110%;
  color: #FFFFFF;
}

.txt_main_section {
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 135%;
  color: #313131;
}
.txt_main_section-em {
  font-weight: 700;
  color: #F54932;
}

.txt_tbl {
  font-family: "GolosText";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
}
.txt_tbl_section {
  opacity: 0.7;
}
.txt_tbl_description {
  font-weight: 600;
}
.txt_tbl_note {
  color: #3057A2;
}

.txt_main_h {
  font-family: "Merriweather";
  font-size: 54px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
}

.txt_main_dsc {
  font-family: "GolosText";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #3057A2;
}

.txt_main_grid {
  font-family: "GolosText";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
}
.txt_main_grid-number {
  font-weight: 600;
}

.txt_player {
  font-family: "GolosText";
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
}
.txt_player_pag {
  font-size: 16px;
}
.txt_player_pag-from {
  opacity: 0.6;
}
.txt_player_name {
  font-size: 24px;
  font-weight: 600;
}
.txt_player_description {
  font-size: 20px;
}
.txt_player_btn {
  font-size: 16px;
  font-weight: 500;
  color: #3057A2;
}

.txt_footer {
  font-family: "GolosText";
  font-size: 16;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
  opacity: 0.6;
}/*# sourceMappingURL=main.css.map */