@font-face {
  font-family: "GolosText";
  src: url(../fonts/Golos-Text/GolosText-Black.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-Bold.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-ExtraBold.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-Medium.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-Regular.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-SemiBold.ttf) format("truetype");
  src: url(../fonts/Golos-Text/GolosText-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Black.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-BlackItalic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Bold.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-BoldItalic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Italic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Light.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-LightItalic.ttf) format("truetype");
  src: url(../fonts/Merriweather/Merriweather-Regular.ttf) format("truetype");
}
.txt_logo {
  font-family: "GolosText";
  font-size: 16.65px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 108%;
  color: #313131;
  text-transform: uppercase;
}

.txt_header_h {
  font-family: "Merriweather";
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 110%;
  color: #313131;
  text-transform: uppercase;
}

.txt_header_dsc {
  font-family: "GolosText";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 130%;
  color: #313131;
  text-align: center;
}

.txt-header_btn {
  font-family: "GolosText";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 130%;
  color: #313131;
  text-align: center;
}

.txt_marquee {
  font-family: "Merriweather";
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 110%;
  color: #ffffff;
  text-transform: uppercase;
}

.txt_main_section {
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 135%;
  color: #313131;
}
.txt_main_section-em {
  font-weight: 700;
  color: #f54932;
}

.txt_tbl {
  font-family: "GolosText";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
}
.txt_tbl_section {
  opacity: 0.7;
}
.txt_tbl_description {
  font-weight: 600;
}
.txt_tbl_note {
  color: #3057a2;
}

.txt_main_h {
  font-family: "Merriweather";
  font-size: 54px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
}

.txt_main_dsc {
  font-family: "GolosText";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #3057a2;
}

.txt_main_grid {
  font-family: "GolosText";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
}
.txt_main_grid-number {
  font-weight: 600;
}

.txt_player {
  font-family: "GolosText";
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
}
.txt_player_pag {
  font-size: 16px;
}
.txt_player_pag-from {
  opacity: 0.6;
}
.txt_player_name {
  font-size: 24px;
  font-weight: 600;
}
.txt_player_description {
  font-size: 20px;
}
.txt_player_btn {
  font-size: 16px;
  font-weight: 500;
  color: #3057a2;
}

.txt_footer {
  font-family: "GolosText";
  font-size: 16;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #313131;
  opacity: 0.6;
}

@keyframes run-txt {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.txt_marquee {
  white-space: nowrap;
  animation: run-txt 30s linear infinite;
}
.txt_marquee:hover {
  animation-play-state: paused;
  cursor: wait;
}

@keyframes rotate-txt {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.eclipse_text_overlay {
  animation: rotate-txt 90s linear infinite;
}

@keyframes go-king {
  0% {
    transform: translateY(50%) scale(0%) rotate(0deg);
  }
  75% {
    transform: translateY(10%) scale(115%) rotate(-4deg);
  }
  100% {
    transform: translateY(0%) scale(100%) rotate(-6deg);
  }
}
#king {
  animation: go-king 2.5s ease-in-out;
}

@keyframes go-queen {
  0% {
    transform: translateY(50%) scale(0%) rotate(0deg);
  }
  75% {
    transform: translateY(10%) scale(115%) rotate(6deg);
  }
  100% {
    transform: translateY(0%) scale(100%) rotate(8deg);
  }
}
#queen {
  animation: go-queen 3s ease-in-out;
}

@keyframes go-horse {
  0% {
    transform: translateY(5%) translateX(110%) scale(0%) rotate(0deg);
    opacity: 0;
  }
  0.5% {
    transform: translateY(5%) translateX(110%) scale(0%) rotate(0deg);
    opacity: 1;
  }
  70% {
    transform: translateY(-100%) translateX(0%) scale(115%) rotate(-3deg);
  }
  100% {
    transform: translateY(0%) translateX(0%) scale(100%) rotate(-10.5deg);
    opacity: 1;
  }
}
#horse {
  opacity: 0;
  animation: go-horse 3s 1s ease-in-out forwards;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.container_header {
  height: 700px;
  position: relative;
  background-color: #e9ded4;
}

.wraper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/header/bg-img-city.png) center bottom no-repeat;
  pointer-events: none;
}
.wraper::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/header/bg-color-burn.png) center;
  mix-blend-mode: color-burn;
}

.content {
  width: 1222px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.content_header_item {
  width: 100%;
}
.content_header_item:first-child {
  padding-top: 26px;
  position: relative;
  z-index: 1;
}
.content_header_item:last-child {
  position: relative;
}

.header_brand {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.header_title {
  margin-top: 62px;
}
.header_title .txt_header_h:last-child {
  text-align: center;
}

.header_description {
  margin-top: 24px;
  padding: 0 20px 0;
}

.header_btns {
  margin-top: 40px;
  max-width: 542px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.header_btns .btn_item {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 2px solid #1f1f1f;
  border-radius: 66px;
  transition: 0.3s;
}
.header_btns .btn_item:first-child {
  background-color: #1f1f1f;
}
.header_btns .btn_item:first-child .txt-header_btn {
  color: #ffffff;
}
.header_btns .btn_item:first-child:hover {
  border-color: #fbce51;
  background-color: #fbce51;
}
.header_btns .btn_item:first-child:hover .txt-header_btn {
  color: #1f1f1f;
}
.header_btns .btn_item:last-child:hover {
  background-color: #1f1f1f;
}
.header_btns .btn_item:last-child:hover .txt-header_btn {
  color: #ffffff;
}

.fig_eclipse {
  display: flex;
  width: 660px;
  position: relative;
  aspect-ratio: 1;
  top: -44px;
  right: 0;
  border-radius: 50%;
  background-color: #fbce51;
  justify-content: center;
  align-items: center;
}
.fig_eclipse .eclipse_text_overlay {
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: overlay;
}

.fig_chess {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chess_behind img {
  position: relative;
}
.chess_behind img:first-child {
  top: 280px;
  left: 80px;
  transform: rotate(-6deg);
}
.chess_behind img:last-child {
  top: 165px;
  left: 325px;
  transform: rotate(8deg);
}

.chess_front {
  overflow: hidden;
}
.chess_front img {
  position: absolute;
  z-index: 1;
}
.chess_front img:first-child {
  top: 510px;
  left: 186px;
  transform: rotate(-10.5deg);
}
.chess_front img:last-child {
  top: 560px;
  right: 0;
}

.run-text {
  width: 100%;
  height: 60px;
  display: block;
  background-color: #f54932;
  align-content: center;
  overflow: hidden;
}
.run-text .txt_marquee {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 36px;
}
.run-text .txt_marquee_item {
  list-style: disc;
}
.run-text .txt_marquee_item:first-child {
  list-style: none;
}/*# sourceMappingURL=main.css.map */